@using OpenDev.W2UI.Components;

@{
    ViewData["Title"] = "Home Page";
    var p = ViewData["p"] + "";
    var renderResult = "<h3>Layout 1 </h3>";

    var layout = new Layout("layout2", 400, 900);
    layout.AddPanel(new LayoutPanel() { type = LayoutPanelType.top, size = 50, resizable = true, html = "top" 
    ,toolbar=new UIToolbar()
    {
        Items=new  List<UIToolbarItem>()
        {
            new  UIToolbarItem()
            {
                type=UIToolbarItemType.checkType,
                id="item1",
                text="Check",
                img="icon-page",
                Checked=true
            },
            new  UIToolbarItem()
            {
                type=UIToolbarItemType.breakType,
                id="break0"
            },
            new  UIToolbarItem()
            {
                type=UIToolbarItemType.menuType,
                id="item2",
                text="Dropdown",
                img="icon-folder",
                items=new List<UIToolbarMenuItem>()
                {
                    new  UIToolbarMenuItem()
                    {
                        text="Item 1",
                        icon="icon-page"
                    },
                    new  UIToolbarMenuItem()
                    {
                        text="Item 2",
                        icon="icon-page"
                    },
                    new  UIToolbarMenuItem()
                    {
                        text="Item 3",
                        icon="icon-page",
                        value="Item Three"
                    }
                }
            },
            new  UIToolbarItem()
            {
                type=UIToolbarItemType.breakType,
                id="break1"
            },
            new  UIToolbarItem()
            {
                type=UIToolbarItemType.radioType,
                id="item3",
                text="Radio 1",
                img="icon-page",
                Checked=true,
                group="1",
                tooltip="Hint for item 3"
            },
            new  UIToolbarItem()
            {
                type=UIToolbarItemType.radioType,
                id="item4",
                text="Radio 2",
                img="icon-page",
                Checked=true,
                group="1",
                tooltip="Hint for item 4"
            },
            new  UIToolbarItem()
            {
                type=UIToolbarItemType.spacerType
            },
            new  UIToolbarItem()
            {
                type=UIToolbarItemType.buttonType,
                 id="item5",
                text="Radio 2",
                icon="w2ui-icon-check",
                tooltip="Hint for item 4"
            }
        }
    }

    });
    layout.AddPanel(new LayoutPanel() { type = LayoutPanelType.left, size = 200, resizable = true, hidden = false, html = "left" 
    //,load = "/lib/w2ui/examples/layout/1.html"
    });
    layout.AddPanel(new LayoutPanel() { 
                    type = LayoutPanelType.main
                    ,html = "main"
                    ,tabs=new PanelTabContainer()
                    {
                        tabs = new List<PanelTab>()
                        {
                            new PanelTab()
                            {
                                id = "tab1",
                                priority = 1,
                                text = "tab 1"
                            },
                            new PanelTab()
                            {
                                id = "tab2",
                                priority = 2,
                                text = "tab 2"
                            },
                             new PanelTab()
                            {
                                id = "tab3",
                                priority = 3,
                                text = "tab 3"
                            }
                        }    
                    }
    });
    //layout.AddPanel(new LayoutPanel() { type = LayoutPanelType.right, size = 200, resizable = true, html = "right" });
}
<div class="header-large-title">
    <h1 class="title">OpenDev Studio</h1>
    <h4 class="subtitle">Software Development Studio Designs</h4>
</div>
<div class="section full mt-3 mb-3">

    <h2>Layout</h2>
    @Html.Raw(layout.Render())

    <h2>Layout - Demo</h2>

    <div id="layout" style="width: 900px; height: 400px;"></div>
    <script>

        let pstyle = 'border: 1px solid #efefef; padding: 5px'
        $(document).ready(function(){
            $('#layout').w2layout({
                box: '#layout',
                name: 'layout',
                panels: [
                    { type: 'top', size: 50, resizable: true, style: pstyle, html: 'top' },
                    { type: 'left', size: 200, resizable: true, style: pstyle, html: 'left' },
                    {
                        type: 'main', style: pstyle, html: 'content',
                        toolbar: {
                            items: [
                                { type: 'check', id: 'item1', text: 'Check', img: 'icon-page', checked: true },
                                { type: 'break', id: 'break0' },
                                {
                                    type: 'menu', id: 'item2', text: 'Drop Down', img: 'icon-folder',
                                    items: [
                                        { text: 'Item 1', icon: 'icon-page' },
                                        { text: 'Item 2', icon: 'icon-page' },
                                        { text: 'Item 3', value: 'Item Three', icon: 'icon-page' }
                                    ]
                                },
                                { type: 'break', id: 'break1' },
                                { type: 'radio', id: 'item3', group: '1', text: 'Radio 1', img: 'icon-page', tooltip: 'Hint for item 3', checked: true },
                                { type: 'radio', id: 'item4', group: '1', text: 'Radio 2', img: 'icon-page', tooltip: 'Hint for item 4' },
                                { type: 'spacer' },
                                { type: 'button', id: 'item5', text: 'Item 5', icon: 'w2ui-icon-check', tooltip: 'Hint for item 5' }
                            ],
                            onClick(event) {
                                this.owner.html('main', `EVENT: ${event.type}<br>TARGET: ${event.target}`)
                            }
                        }
                    }
                ]
            })
        
        });
        
        
        

        window.action = function (method, param1, param2, param3) {
            layout[method](param1, param2, param3)
        }
    </script>


    <h2>Buttons</h2>
    @Html.Raw(layout.ToggleButton("Top","top")+layout.ToggleButton("Left","left"))
</div>
@section Scripts{


}